<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SGPMS_Home</title>

</head>
<body>
<form action = "first", method = "post"> {# on submit moves to the page #}
    <div><center><h1>Student Grade Predictive Management System</h1>
    <h3> Course Selection</h3 >
<label for ="course_inp" > <b > Select Course :  </b > </label > {# asking input #}
<select name = "course_Input" id = "course_inp" > <!Creating Dropdown for Task name">
<option value = "DPM" > Data Processing and Management (DPM) </option >
</select><br><br>
        <div> <input class ="text-center" type="submit" value="submit"/> </div></center></div>
</form>
</body>
<style>
    body{
    background-image: url("https://iiitd.ac.in/sites/default/files/images/iiitdrndblock.jpeg");
        background-repeat: no-repeat;
        {#background-position: center;#}
        background-size: cover;
    }
</style>
</html>